# ROS2 构建产物
build/
install/
log/
.colcon/
compile_commands.json

# Python 缓存
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/settings.json
.vscode/browse.vc.db
.vscode/browse.vc.db-shm
.vscode/browse.vc.db-wal
.vscode/c_cpp_properties.json
.idea/
*.swp
*.swo
*~
