# -------------------
# 白名单模式 (Whitelist)
# -------------------
# 1. 先忽略所有
/*

# 2. 再把需要的“捞”回来
!/src/
!/src/**
!.gitignore

# 保留说明文档
!README.md          

# 如有开源协议
!LICENSE            

# -------------------
# ROS2 构建产物 (核心垃圾)
# -------------------
build/
install/
log/
.colcon/

# -------------------
# Python 缓存
# -------------------
__pycache__/
*.py[cod]
*$py.class

# -------------------
# IDE & 编辑器配置
# -------------------
# 允许 .vscode 文件夹
!.vscode/

# 但是忽略里面的 settings.json
.vscode/settings.json

# 黑名单常客
.idea/
*.swp
*.swo
*~
.vscode/c_cpp_properties.json
